/*=======================================================*
Site Name: (AA)-About *
Author: (AA)- Muhammad Ayan - Father Name: Muhammad Arshad. *
Site Url: http: //ayanarshad.github.io/aaabout *
gmail: ayanarshad113@gmail.com *
blog Site: ayanarshad.blogspot.com *
Total Social Links: https: //linktr.ee/ayanarshad *
Copyrights © (AA)-Design. All rights reserved.
========================================================-->
# General --------------------------------------------------------------*/ 
/*-------No Use-----------------------
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}
*/
body{
  background:#25262a;
}

.no-highlight {
  user-select: none;
  user-zoom: none;
  text-decoration: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li{
  font-family: "Raleway", sans-serif;
  color:#c9ddfe
}
p{
  color: #fff;
}
a{
  color: #a1c6fd;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #18181b;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 25px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #25262a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.dload{
  padding-top: 20px;
}
.dload a{
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  top: 50%;
  left: 50%;
  background-color: #45505B;
  border-radius: 0px 0px 20px 20px;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #131313;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 65px);
  left: calc(50% - 65px);
  width: 130px;
  height: 130px;
  background: url("../img/loader.gif") top right no-repeat;
  background-size: cover;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 10px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 250px;
    background: #18181b;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}
kbd{
  color: #fff;
  background: #45505b;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #25262a;
  padding: 15px 15px;
  margin-bottom: 15px;
  transition: 0.3s;
  font-size: 10px;
  border-radius: 40px;
  background: #f2f3f5;
  height: 50px;
  width: 50%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 7px 0 7px;
  color: #45505b;
}

@media (min-width: 980px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 50px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: #45505b;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 20px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  color: #fff;
  background-color: #18181b;
}

.mobile-nav-toggle i {
  color: #ffffff;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #18181b;
}

/*--------------------------------------------------------------
# home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: url("../img/home-bg.webp") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #home {
    padding-left: 180px;
  }
}

#home:before {
  content: "";
  background: rgba(14, 45, 168, 0.0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home h1 {
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  line-height: 60px;
  color: #a1c6fd;
}

#home p {
  color: #c9ddfe;
  margin: 25px 0 0 0;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

#home p span {
  color: #ffffff;
  letter-spacing: 1px;
}

#home .social-links {
  margin-top: 20px;
}

#home .social-links a {
  font-size: 20px;
  display: inline-block;
  color: #c9ddfe;
  line-height: 1;
  margin-right: 13px;
  transition: 0.3s;
}

#home .social-links a:hover {
  color: #ffffff;
}

@media (max-width: 992px) {
  #home {
    text-align: center;
  }

  #home h1 {
    font-size: 70px;
    line-height: 45px;
  }

  #home p {
    margin-top: 13px;
    font-size: 15px;
    line-height: 25px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
  text-shadow: -1px -1px 30px rgba(152, 150, 150, 1);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #838383;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #c9ddfe;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title span {
  position: absolute;
  top: 0px;
  color: #45505b;
  left: 0;
  right: 0;
  z-index: 0;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 28px;
  color: #c9ddfe;
  padding-bottom: 10px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 10px;
  margin-right: 5px;
  color: #ffffff;
  line-height: 0;
}

.about .row img {
  border-radius: 30px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #0563bb;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #c9ddfe;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
  border-radius: 0px;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #a1c6fd;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #25262a;
  border-radius: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background: linear-gradient(90deg, rgba(255, 238, 238, 0) 10%, rgba(161,198,253) 100%);
  border-radius: 10px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #45505b;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 15px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #a1c6fd;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  color: #fff;
  font-size: 15px;
  background: #45505b;
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #25262a;
  border: 2px solid #45505b;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.about .section-title home{
  font-size: 25px;
  width: 600;
}
.about .section-title home kbd{
  border-radius: 30px;
  padding: 10px;
}
.about .section-title p{
  padding-top: 10px;

}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 20px;
  padding: 2px 15px;
}
.portfolio b{
  color: #a1c6fd;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #45505b;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #a1c6fd;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.555);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #ffffff;
  margin: 0 2px;
  font-size: 25px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #a1c6fd;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/
.Video .Video-item {
  margin-bottom: 30px;
}

.Video #Video-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 20px;
  padding: 2px 15px;
}

.Video #Video-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #45505b;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.Video #Video-flters li:hover,
.Video #Video-flters li.filter-active {
  color: #a1c6fd;
}

.Video #Video-flters li:last-child {
  margin-right: 0;
}

.Video .Video-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
}

.Video .Video-wrap::before {
  content: "";
  background: linear-gradient(-40deg, rgba(36, 0, 0, 0) 0%, rgba(88, 210, 189, 0.521) 30%, rgba(88, 210, 189.767) 100%);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.Video .Video-wrap .Video-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Video .Video-wrap .Video-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.Video .Video-wrap .Video-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.Video .Video-wrap .Video-info h4 {
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
}

.Video .Video-wrap .Video-info p {
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.Video .Video-wrap .Video-links {
  text-align: center;
  z-index: 4;
}

.Video .Video-wrap .Video-links a {
  color: #ffffff;
  margin: 0 2px;
  font-size: 25px;
  display: inline-block;
  transition: 0.3s;
}

.Video .Video-wrap .Video-links a:hover {
  color: #a1c6fd;
}

.Video .Video-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.Video .Video-wrap:hover .Video-info {
  opacity: 1;
}

.Video .Video-wrap:hover .Video-info::before {
  top: 15px;
  left: 15px;
}

.Video .Video-wrap:hover .Video-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Game Video
--------------------------------------------------------------*/
.Video .game-Video-item {
  margin-bottom: 30px;
}

.Video #game-Video-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 20px;
  padding: 2px 15px;
}

.Video #game-Video-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #575757;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.Video #game-Video-flters li:hover,
.Video #game-Video-flters li.filter-active {
  color: #0563bb;
}

.Video #game-Video-flters li:last-child {
  margin-right: 0;
}

.Video .game-Video-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.5);
}

.Video .game-Video-wrap::before {
  content: "";
  background: linear-gradient(-40deg, rgba(0, 0, 0, 0) 0%, rgba(51, 1, 92, 0.671) 25%, rgba(63, 0, 122, 0.855) 50%);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.Video .game-Video-wrap .game-Video-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Video .game-Video-wrap .game-Video-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.Video .game-Video-wrap .game-Video-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.Video .game-Video-wrap .game-Video-info h4 {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
}

.Video .game-Video-wrap .game-Video-info p {
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.Video .game-Video-wrap .game-Video-links {
  text-align: center;
  z-index: 4;
}

.Video .game-Video-wrap .game-Video-links a {
  color: #ffffff;
  margin: 0 2px;
  font-size: 25px;
  display: inline-block;
  transition: 0.3s;
}

.Video .game-Video-wrap .game-Video-links a:hover {
  color: #a1c6fd;
}

.Video .game-Video-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.Video .game-Video-wrap:hover .game-Video-info {
  opacity: 1;
}

.Video .game-Video-wrap:hover .game-Video-info::before {
  top: 15px;
  left: 15px;
}

.Video .game-Video-wrap:hover .game-Video-info::after {
  bottom: 15px;
  right: 15px;
}
.txtfade{
  border-radius: 10px;
  text-align: center;
  padding-top: 100px;
  transform: translate(-0%, -80%);
  background:  linear-gradient(360deg, rgb(0, 0, 0) 60%, rgba(0,212,255,0) 100%);
}
.textover{
    position: absolute;
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    font-size: 100%; 
    text-align: center;
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 50px;
  padding: 10px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
  border-radius: 20px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #25262a;
  opacity: 1;
  border: 1px solid #a1c6fd;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #a1c6fd;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0 10px rgba(70, 70, 90, 0.50);
}

.portfolio-details .portfolio-info h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #a1c6fd;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 25px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  font-size: 12px;
  text-align: center;
}

.portfolio-details .social-links a {
  font-size: 20px;
  display: inline-block;
  background: #ffffff;
  color: #25262a;
  line-height: 1;
  padding: 8px 0;
  margin-right: 2px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #a1c6fd;
  color: #fff;
  text-decoration: none;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.desicredits {
  font-size: 15px;
  text-align: center;
  color: #a1c6fd;
  padding: 30px;
}

.downwall {
  text-align: center;
}


.downwall h1 {
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
}

.downwall h2 {
  font-size: 15px;
}

.downwall a {
  font-size: 30px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #90c8fc;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #ffffff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #0678e3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #18181b;
  color: #45505b;
  font-size: 15px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 35px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 5px 0;
}

#footer h4 {
  font-size: 20px;
  padding: 0;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 20px 0;

}

#footer h5 {
  font-size: 15px;
  padding: 0;
  margin: 10px 0;
}

#footer h6 {
  font-size: 10px;
  padding: 0;
  margin: 10px 0;
}

#footer .social-links {
  margin: 0 0 10px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffffff;
  color: #25262a;
  line-height: 1;
  padding: 9px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}