body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
  font-weight: 600;
  background: url(aa.jpg);
  background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box{
  width: 350px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919e0;
  border-radius: 50px;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.line h1{
  color: white;
  font-size: small;
  text-align: center;
  margin-top: 400px;
}
.line a{
  color: white;
  font-size: small;
  text-align: center;
  margin-top: 400px;
}
.line{
  text-align: center;
}
.Logo{
  padding-top: 200px;
  text-align: center;
}
.Logo img{
  width: 200px;
}